<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>CottonConnect - ELearning Portal</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />
<link rel="stylesheet"
	href="font/simple-line-icons/css/simple-line-icons.css" />

<link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
<link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
<link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
<link rel="stylesheet" href="css/main.css" />

<link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="css/vendor/datatables.responsive.bootstrap4.min.css" />
</head>

<body id="app-container" class="menu-sub-hidden show-spinner">
	<div id="menu-header"></div>
	<div id="menu-div"></div>
	<main>
		<div class="container-fluid">
			<div class="row ">
				<div class="col-12">
					<div class="mb-2">
						<h1>Insect</h1>
						<div class="top-right-button-container">
							<a href="insect.jsp" class="btn btn-primary">ADD NEW</a>
							
							<div class="modal fade modal-right" id="exampleModalRight"
								tabindex="-1" role="dialog" aria-labelledby="exampleModalRight"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Add Insect</h5>
											<button type="button" class="close" data-dismiss="modal"
												id="mbtn" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form
												action="https://server.cottonconnectelearning.com//service/knowledge-center/save/"
												method="post" enctype="multipart/form-data">
												<input type="hidden" name="id" id="id"> <input type="hidden"
													name="redirectUrl" id="redirectUrl"> <input
													type="hidden" name="subCategory" id="subCategory">

												<div class="form-group">
													<label>Name of Insect</label> <input type="text"
														class="form-control" required id="name" name="name">
												</div>

												<div class="form-group">
													<label>Type</label> <label> <input type="radio"
														value="1" name="typez" checked="checked">Beneficial
													</label> <label> <input type="radio" value="0" name="typez">Harmful
													</label>
												</div>

												<div class="form-group">
													<label>Identification</label>
													<textarea maxlength="250" class="form-control" required
														name="identification" id="identification"></textarea>
												</div>

												<div class="form-group">
													<label>Notes</label>
													<textarea maxlength="500" class="form-control" required
														name="notes" id="notes"></textarea>
												</div>

												<div class="form-group">
													<label>Symptoms & Remedy</label>
													<textarea maxlength="350" class="form-control" required
														name="description" id="description"></textarea>
												</div>

												<div class="form-group">
													<label>Upload</label> <input type="file" name="file"
														class="form-control"> <input type="file"
														name="file" class="form-control"> <input
														type="file" name="file" class="form-control"> <input
														type="file" name="file" class="form-control">
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-outline-primary"
														data-dismiss="modal">Cancel</button>
													<button class="btn btn-primary">Submit</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-12 mb-4">
					<div class="card">
						<div class="card-body">
							<table class="data-table data-table-feature" id="country-table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>


	<footer class="page-footer"> </footer>

	<script src="js/vendor/jquery-3.3.1.min.js"></script>
	<script src="js/vendor/bootstrap.bundle.min.js"></script>
	<script src="js/vendor/perfect-scrollbar.min.js"></script>
	<script src="js/vendor/datatables.min.js"></script>
	<script src="js/dore.script.js"></script>
	<script src="js/scripts.js?v=1.1"></script>

	<script type='text/javascript'>
		$(document).ready(
				function() {
					$("#menu-div").load("menu.html");
					$("#menu-header").load("nav.html");
					$("#page-footer").load("footer.html");
					$("#redirectUrl").val(window.location.href);

					$.ajax({
						url : getUrl() + '/master/sub-categories/list',
						success : function(result) {
							$("#subCategory").html('');
							$("#subCategory").append(
									"<option value=''>Select</option>");
							$(result).each(function(k, v) {
								if (v.name == 'Insects') {
									$("#subCategory").val(v.id);
									fillDataTable(v.id);
								}
							});
							/
						}
					});
				});

		function fillDataTable(id) {
			$('#country-table').DataTable(
					{
						"processing" : true,
						"serverSide" : true,
						"ajax" : getUrl()
								+ '/service/knowledge-center/getAllRecords/'
								+ id,
					});
		}

		function edit(id) {
			$("body").addClass("show-spinner");
			window.location.href = "insect.jsp?id="+id;
		}

		function deletez(id) {
			$("body").addClass("show-spinner");

			var txt;
			if (confirm("Are you sure want to delete? Can't restore record once deleted")) {
				$.ajax({
					url : getUrl() + '/service/knowledge-center/delete?id='+id,
					beforeSend : function(request) {
						request.setRequestHeader("user-id", getUserName());
					},
					success : function(result) {
						$("body").removeClass("show-spinner");
						window.location.href = "inspectList.jsp";
					}
				});
			} else {
				$("body").removeClass("show-spinner");
			}

		}
	</script>

</body>

</html>